/* 순수  CSS 색 지정 */
/* 장점 : 색상 지정 금방 바꿈     */
:root {
--text-color : white;
--background-color : #263343;
--accent-color : #d49466;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* google font */
  font-family: 'Nanum Gothic', sans-serif;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  /* 수직적인 배치 */
  align-items: center;
  background-color: #263343;
  padding: 8px 12px;
}
.navbar_logo {
  font-size: 24px;
  color: white;
}
.navbar_logo i {
  color: #d49466;
}
.navbar_menu li{
  padding: 8px 12px;
}
.navbar_menu {
  display: none;
  display: flex;
  list-style: none; 
  padding-left: 0; 
}
.navbar_menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}
.navbar_icons li {
  padding: 8px 12px ;
}
.navbar_icons {
  display: none;
  list-style: none;
  color: white;
  display: flex;
  /* ? */
  padding-left: 0; 
}
.navbar_icons li {
  padding: 8px 12px;
}
.navbar_toogleBtn {
  /*   display: none; :화면 작을 때만 보임 */
  display: none;
  position: absolute;
  font-size:24px;
  color: #d49466;
  right: 32px;
}
/* 반응형 */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    /*  */
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar_menu {
    display: none;
    flex-direction: column;
    /*  */
    align-items: center;
    width: 100%;

  }
  .navbar_menu li {
    width: 100%;
    text-align: center;
  }
  .navbar_icons{
    display: none;
    justify-content: center;
    width: 100%;
    color: var(--text-color);
  }
  .navbar_toogleBtn {
    /* 화면 조정할 때 메뉴바 보이게 하는 것 */
    display: block;
  }
  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}